@import "./general/_variables.scss";

.chevron__icon {
    height: 15px;
    width: 15px;
    color: $themeLightBlue;
    padding: 0 0.4rem;
    pointer-events: none;
}

.password__icon__container {
    svg {
        height: 25px;
        color: darken($primaryGray, 15);
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}

.link_icon__md-dark {
    height: 25px;
    width: 25px;
    color: $mainInputLabel;
}

.messages__icon_dark {
    height: 25px;
    width: 25px;
    color: $primaryBlack;
    cursor: pointer;
}

.messages__icon_light {
    height: 25px;
    width: 25px;
    color: $primaryWhite;
    cursor: pointer;
}

.notifications__icon_light {
    height: 25px;
    width: 25px;
    color: $primaryWhite;
    cursor: pointer;
}

.notifications__icon_dark {
    height: 25px;
    width: 25px;
    color: $primaryBlack;
    cursor: pointer;
}

.hamburger__menu__icon_dark {
    width: 24px;
    cursor: pointer;
    color: $primaryBlack;
}

.hamburger__menu__icon_light {
    width: 24px;
    cursor: pointer;
    color: $primaryWhite;
}

.icon__sm__light {
    width: 24px;
    cursor: pointer;
    color: $primaryWhite;
}

.icon__sm__dark {
    width: 24px;
    cursor: pointer;
    color: $primaryBlack;
}

.icon__md__light {
    width: 48px;
    cursor: pointer;
    color: $primaryWhite;
}

.icon__md__dark {
    width: 48px;
    cursor: pointer;
    color: $primaryBlack;
}

.icon__md__neutral {
    width: 48px;
    cursor: pointer;
    color: darken($primaryGray, 10);
}

.icon__md {
    width: 48px;
}

.icon__success {
    color: $success;
}

.icon__lg__dark {
    width: 125px;
    cursor: pointer;
    color: $primaryBlack;
}

.icon__lg__neutral {
    width: 125px;
    cursor: pointer;
    color: darken($primaryGray, 10);
}

.icon__lg__light {
    width: 125px;
    cursor: pointer;
    color: $primaryWhite;
}
