@import "./general/_variables.scss";
@import "./general/_base.scss";
@import "./forms/inputs.scss";
@import "./fonts.scss";
@import "./general/buttons.scss";
@import "./icons.scss";
@import "./general/modals.scss";
@import "./general/spacing.scss";

.profile_image_md {
    border-radius: 50%;
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: -120px;
    display: inline-block;
}

.profile_image_rel_xs {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
}
.profile_image_rel_md {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: inline-block;
}

.default_profile_image_rel_xs {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.default_profile_image_rel_sm {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: inline-block;
}

.default_profile_image_rel_md {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: inline-block;
}

.profile_image_lg {
    border-radius: 50%;
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: -120px;
    display: inline-block;
}

.profile_image_lg_square {
    border-radius: 8px;
    height: 200px;
    width: 200px;
    top: 0;
    display: inline-block;
}

.default_profile_image_lg {
    border-radius: 50%;
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: -120px;
    display: inline-block;
}

.default_profile_image_rel_lg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    bottom: -120px;
    display: inline-block;
}

.default_profile_image_lg_square {
    height: 200px;
    width: 200px;
    top: 0;
    display: inline-block;
}

.post_comment_form_container {
    box-sizing: border-box;
    padding: 0.2rem;
    display: flex;
    align-items: center;

    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    svg {
        color: $themePink;
        background-color: $themeLightBlue;
    }

    input {
        flex-grow: 2;
        margin: 0 0.2rem;
        height: 35px;
        border-radius: 8px;
        border: none;
        border: 1px solid $mainInputBorder;
        outline: none;

        &:focus {
            border: 2px solid $themeLightBlue;
        }
    }

    button {
        color: #fff;
        background-color: $themeLightBlue;
        border: none;
        border-radius: 8px;
        height: 35px;
        padding: 0.2rem 0.3rem;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: $themeBlue;
        }
    }
}

.post_comment_error {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: $primaryWhite;
        text-align: center;
        margin: 0.1rem;
        font-size: 0.8rem;
        padding: 0.3rem;
        border-radius: 8px;
        background-color: rgba(255, 0, 51, 0.8);
    }
}

.story_preview_align_bottom {
    display: flex;
    flex-direction: column;
    p {
        margin-top: auto;
    }
}

.story_preview_align_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story_preview_align_top {
    display: flex;
    justify-content: center;
}
