@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}

h1,
h2 {
  font-size: 2.25rem;
}
#app, html {
  height: 100%;
}
body {
  min-height: 100;
}
.app__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.app__container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.home__container {
  box-sizing: border-box;
  background-image: url(/images/home_bg.svg?36b7089da05c5e36f8a998ed64c31924);
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
.create__account__header {
  margin-top: 6rem;
}
.create__account__header h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Secular One", sans-serif;
  letter-spacing: -3px;
  color: #31326f;
}
.create__account__user {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: auto;
  text-align: left;
}
.create__account__user p {
  color: #426f6f;
  margin: 0;
  margin-right: 0.5rem;
}
.create__account__user a {
  font-weight: bold;
  color: #31326f;
  text-decoration: none;
}
@media (max-width: 600px) {
.create__account__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
}
.create__account__user {
    margin: 0;
    justify-content: space-between;
}
}
/*
IMPORTS
*/
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.forms__input__field {
  border: 1px solid #ffc93c;
}
.forms__input__error {
  font-size: 0.85rem;
  color: #ff0033;
}
.forms__input__field_md {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.forms__input__field_md label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_md input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
  width: 199px;
}
.forms__input__field_lg {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
}
.forms__input__field_lg label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_lg input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
}
.logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.logo img {
  height: 100px;
  width: 100px;
  display: block;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.login__header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login__header h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Secular One", sans-serif;
  letter-spacing: -3px;
  color: #31326f;
}
.login__signup__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.login__signup__link div:last-of-type {
  display: flex;
  align-items: center;
}
.login__signup__link p {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}
.login__signup__link p:first-of-type {
  font-weight: bold;
  color: #31326f;
}
.login__signup__link a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #31326f;
  font-size: 0.8rem;
  color: #77d2c2;
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.password__icon__container svg {
  height: 25px;
  color: #cccccc;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
/*
IMPORTS
*/
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.forms__input__field {
  border: 1px solid #ffc93c;
}
.forms__input__error {
  font-size: 0.85rem;
  color: #ff0033;
}
.forms__input__field_md {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.forms__input__field_md label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_md input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
  width: 199px;
}
.forms__input__field_lg {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
}
.forms__input__field_lg label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_lg input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
}
.password__icon__outer__container {
  position: relative;
}
.password__instructions {
  color: #929292;
  font-weight: 100;
  font-style: italic;
  font-size: 0.8rem;
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.create__account__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.create__account__checkbox p {
  font-size: 0.7rem;
  color: #ff0033;
}
.create__account__checkbox div {
  margin-left: 0.5rem;
}
.create__account__checkbox div span {
  font-size: 0.8rem;
  font-weight: bold;
  color: #4e5760;
}
.create__account__checkbox a {
  font-size: 0.8rem;
  color: #31326f;
  text-decoration: none;
  font-weight: bold;
}
.create__account__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #4e5760;
  border-radius: 5px;
  font-size: 0.7rem;
}
.create__account__checkbox input:checked ~ .checkmark {
  background-color: #4e5760;
  border: none;
  border-radius: 5px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.create__account__checkbox input:checked ~ .checkmark:after {
  display: block;
}
.create__account__checkbox .checkmark:after {
  left: 7px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}

/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.forms__input__field {
  border: 1px solid #ffc93c;
}
.forms__input__error {
  font-size: 0.85rem;
  color: #ff0033;
}
.forms__input__field_md {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.forms__input__field_md label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_md input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
  width: 199px;
}
.forms__input__field_lg {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
}
.forms__input__field_lg label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_lg input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
}
.button__md {
  border: none;
  color: #fcfcfc;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #31326f;
  text-transform: uppercase;
  height: 35px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.button__md:hover {
  opacity: 0.7;
}
.create__account {
  box-sizing: border-box;
  background-image: url(/images/create_account.svg?9f6e67670f04a06f8230fdcce69542e3);
  width: 100%;
  height: 100%;
}
.create__account__container {
  width: 448px;
  margin: 0rem auto auto 15rem;
  box-sizing: border-box;
}
.create__account__form {
  box-sizing: border-box;
  height: 900px;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
}
.create__account__form button {
  background-color: #31326f;
  color: #fff;
}
.create__account__input__container_md {
  display: flex;
  justify-content: space-between;
}
.create__account__button__container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}
.create__account__button__container button {
  width: 120px;
}
.create__account__input__container_lg {
  width: 100%;
}
@media (max-width: 600px) {
.create__account__container {
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
}
.create__account__input__container_md {
    flex-direction: column;
    width: 100%;
}
.create__account__input__container_md input {
    width: 100%;
}
.create__account__form {
    justify-content: center;
    align-items: center;
}
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.forms__input__field {
  border: 1px solid #ffc93c;
}
.forms__input__error {
  font-size: 0.85rem;
  color: #ff0033;
}
.forms__input__field_md {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.forms__input__field_md label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_md input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
  width: 199px;
}
.forms__input__field_lg {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
}
.forms__input__field_lg label {
  color: #65717c;
  font-weight: bold;
  font-size: 0.85rem;
}
.forms__input__field_lg input {
  border: none;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  height: 35px;
}

/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.button__md {
  border: none;
  color: #fcfcfc;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #31326f;
  text-transform: uppercase;
  height: 35px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.button__md:hover {
  opacity: 0.7;
}
.login__container {
  box-sizing: border-box;
  background-image: url(/images/login.svg?48fb210686984e79e462ac43d1dafe10);
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.login__form__container {
  width: 448px;
  margin-bottom: 3rem;
  box-sizing: border-box;
  margin-top: 6rem;
}
.login__form {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #fcfcfc;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.login__button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}
.login__button__container button {
  width: 150px;
}
.forgot__password__link {
  font-size: 0.8rem;
  text-decoration: none;
  color: #50c6b0;
}
.forgot__password__link:hover {
  opacity: 0.7;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.button__md {
  border: none;
  color: #fcfcfc;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #31326f;
  text-transform: uppercase;
  height: 35px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.button__md:hover {
  opacity: 0.7;
}
.forgot__password__container {
  box-sizing: border-box;
  background-image: url(/images/forgot_password_bg.svg?3ebb341c84c8c8402d201205dbf517ff);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.forgot__password__form__container {
  width: 448px;
  margin-bottom: 3rem;
  box-sizing: border-box;
  margin-top: 10rem;
}
.forgot__password__form__container h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Secular One", sans-serif;
  letter-spacing: -3px;
  color: #31326f;
  text-align: center;
}
.forgot__password__form {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #fcfcfc;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.forgot__password__helper__text {
  text-align: center;
  font-size: 0.8rem;
  color: #4e5760;
}
.forgot__password__message__sent {
  color: #63ccb9;
  text-align: center;
}
.forgot__password__btn__container {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}
.forgot__password__btn__container button {
  width: 150px;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.button__md {
  border: none;
  color: #fcfcfc;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #31326f;
  text-transform: uppercase;
  height: 35px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.button__md:hover {
  opacity: 0.7;
}
.reset__password__container {
  box-sizing: border-box;
  background-image: url(/images/reset_password_bg.svg?3fa1b89626ff706fecce7e113ab8c9af);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.reset__password__form__container {
  width: 448px;
  margin-bottom: 3rem;
  box-sizing: border-box;
  margin-top: 10rem;
}
.reset__password__form__container h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Secular One", sans-serif;
  letter-spacing: -3px;
  color: #31326f;
  text-align: center;
}
.reset__password__form {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #fcfcfc;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.reset__password__helper__text {
  text-align: center;
  font-size: 0.8rem;
  color: #4e5760;
}
.reset__password__btn__container {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}
.reset__password__btn__container button {
  width: 150px;
}
.link__expired {
  color: #ff0033;
  text-align: center;
  font-size: 0.85rem;
}
.expired__retry {
  display: block;
  color: #4e5760;
  text-align: center;
  font-size: 0.9rem;
}
/*
  IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
.hamburger__menu {
  width: 24px;
  cursor: pointer;
  color: #fcfcfc;
}
/*
  IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
.company__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company__logo img {
  width: 75px;
  height: 60px;
}
/*
  IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.profile__icon__container {
  position: relative;
}
.profile__icon__container svg {
  fill: #9ddfd3;
}
.profile__icon {
  color: #4e5760;
  height: 42px;
  width: 42px;
  cursor: pointer;
}
.profile_online_indicator {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  bottom: 10px;
  right: 2px;
  border: 2px solid #000;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.messages__icon {
  height: 25px;
  width: 25px;
  color: #fcfcfc;
  cursor: pointer;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.notifications__icon {
  height: 25px;
  width: 25px;
  color: #fcfcfc;
  cursor: pointer;
}
/*
  IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
.navbar__desktop {
  background-color: #3b3b44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0.7rem;
}
.navbar__desktop p {
  margin: 1rem auto;
  text-align: center;
}
.logo__container {
  display: flex;
  justify-content: space-between;
}
.nav__links__desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 80%;
  margin-bottom: 0;
}
.nav__links__desktop li {
  margin: 0 0.5rem;
  list-style-type: none;
}
.nav__links__desktop li:first-of-type {
  margin-right: auto;
}
.nav__links__desktop a {
  font-size: 0.85rem;
  color: #fcfcfc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
.nav__links__desktop a:hover {
  border-bottom: 3px solid #ffc93c;
}
.nav__links__desktop a:first-of-type {
  margin-right: auto;
}
@media (max-width: 600px) {
.logo__container {
    width: 90%;
}
}
/*
  IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
.close__icon {
  width: 24px;
  cursor: pointer;
  color: #fcfcfc;
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.navbar__mobile {
  background-color: #3b3b44;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}
.navbar__mobile div {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.nav__links__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 80%;
}
.nav__links__mobile li {
  margin-top: 0.5rem;
  list-style-type: none;
  transition: all 0.25s ease-in-out;
}
.nav__links__mobile li:hover {
  border-bottom: 3px solid #ffc93c;
}
.nav__links__mobile a {
  font-size: 0.85rem;
  color: #fcfcfc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__links_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.sign__out__icon {
  width: 25px;
  height: 25px;
  color: #fcfcfc;
  transform: rotate(180deg);
}
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
.profile__dropdown {
  height: 600px;
  border-radius: 8px;
  background-color: #3b3b44;
  position: absolute;
  right: 10px;
  top: 60px;
  box-shadow: 0px 0px 11px 1px black;
  z-index: 10;
  width: 190px;
  box-sizing: border-box;
}
.profile__dropdown__top {
  position: relative;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0 0.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.profile__dropdown__top div:first-of-type {
  margin-top: 0.1rem;
}
.profile__dropdown__top p {
  margin-top: 0.3rem;
  color: #efefef;
}
.profile__dropdown__links ul {
  padding: 0 0.5rem;
}
.profile__dropdown__links li {
  list-style-type: none;
}
.profile__dropdown__section {
  border-top: 1px solid #767676;
}
.profile__dropdown__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.4rem 0.4rem;
}
.profile__dropdown__link:hover {
  background-color: rgba(105, 105, 105, 0.5);
}
.profile__dropdown__link span {
  color: #fcfcfc;
  font-size: 0.85rem;
}
@media (max-width: 600px) {
.profile__dropdown {
    right: calc(300px - 190px);
    top: 300px;
}
}
/*
IMPORTS
*/
/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
/*
errors
*/
/*

themes
*/
/*
element-specific
*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
}
h1,
h2 {
  font-size: 2.25rem;
}
.footer {
  background-color: #333333;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer p {
  color: #fcfcfc;
  font-size: 0.8rem;
}
.footer p:first-of-type {
  color: #fff;
}
.footer a {
  color: #fff;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.5rem;
}
@media (max-width: 600px) {
.footer {
    flex-direction: column;
}
}
