$primaryBlack: #3b3b44;
$primaryGray: #f2f2f2;
$primaryWhite: #fcfcfc;

$error: #ff0033;
$warning: #ffcc00;
$success: #4bb543;

$themePink: #fb4d70;
$themeLightGreen: #dbf6e9;
$themeDarkGreen: #9ddfd3;
$themeBlue: #31326f;
$themeLightBlue: #484aa4;
$themeRoyalBlue: #4169e1;

$mainInputLabel: #4e5760;
$mainInputBorder: #e3e2e2;

