/*-----------------------------
      COLORS
/*-----------------------------

/*
primaries
*/
// $primaryBlack: rgba(25, 25, 25, 0.85);
$primaryBlack: #3b3b44;
$primaryGray: #f2f2f2;
$primaryWhite: #fcfcfc;
/*
errors
*/
$error: #ff0033;
$warning: #ffcc00;
/*

themes
*/
$themePink: #fb4d70;
$themeLightGreen: #dbf6e9;
$themeDarkGreen: #9ddfd3;
$themeBlue: #31326f;
$themeLightBlue: #484aa4;

/*
element-specific
*/
$mainInputLabel: #4e5760;
$mainInputBorder: #e3e2e2;
