.xs_spacer {
    margin: 0.25rem 0;
}
.sm_spacer {
    margin: 0.5rem 0;
}

.md_spacer {
    margin: 1rem 0;
}

.lg_spacer {
    margin: 2rem 0;
}

.xl_spacer {
    margin: 3rem 0;
}

.xs_spacer_top {
    margin-top: 0.25rem;
}
.sm_spacer_top {
    margin-top: 0.5rem;
}

.md_spacer_top {
    margin-top: 1rem;
}

.lg_spacer_top {
    margin-top: 2rem;
}

.xl_spacer_top {
    margin-top: 3rem;
}

.xs_spacer_bottom {
    margin-bottom: 0.25rem;
}
.sm_spacer_bottom {
    margin-bottom: 0.5rem;
}

.md_spacer_bottom {
    margin-bottom: 1rem;
}

.lg_spacer_bottom {
    margin-bottom: 2rem;
}

.xl_spacer_bottom {
    margin-bottom: 3rem;
}
